# SNI deps
pyopenssl
ndg-httpsclient
pyasn1

# server itself
gevent
gunicorn
pyramid

# db stuff
alembic
sqlalchemy
psycopg2>=2.5.2,<2.6
psycogreen==1.0

# redis
redis
hiredis

# random
setproctitle
ipython # for convenience
