.sample-form
  input, textarea 
    // Make the text boxes wide enough
    width 300px
  button
    // add spacing between buttons
    font-weight bold

.login-form-container
  max-width 300px
  padding 5px 10px 10px
  .login-form
    padding 10px 20px 20px
    margin 0 auto 20px
    background-color #fff
    border 1px solid #e5e5e5

    .login-form-heading
      margin-bottom 10px

    input
      font-size 15px
      height auto
      margin-bottom 15px
      padding 7px 9px