[program:momentum-backend]
command=/var/www/angular-momentum/backend/scripts/start-server.sh
user=www-data
autorestart=true
stdout_logfile = /var/log/supervisord/%(program_name)s.log
stdout_logfile = /var/log/supervisord/%(program_name)s.error.log
