@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/robot-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/robot-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/robot-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/robot-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/robot-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/robot-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-italic-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/roboto-italic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/roboto-italic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/roboto-italic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/roboto-italic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/roboto-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/roboto-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/roboto-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-thin-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/roboto-thin-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/roboto-thin-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/roboto-thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/roboto-thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/assets/fonts/robotoslab-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/robotoslab-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/robotoslab-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/robotoslab-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/robotoslab-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/assets/fonts/robotoslab-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/robotoslab-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/robotoslab-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/robotoslab-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/robotoslab-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
